@charset "UTF-8";

:root{
	--cor-branca: #ffffff;
	--cor-fontes: rgba(0, 0, 0, 1);
	--cor-vermelha: red;
}

body{
	background-color: var(--cor-branca);
	color: var(--cor-fontes);
}

p{
	text-align: justify;
	text-indent: 50px;
}

/*formatação de imagens com legendas*/
 
picture.foto-legenda img{
	border: 4px solid var(--cor-branca);
	box-shadow: 1px 1px 4px black;
	position: relative;

}

@media (min-width:600px)and (max-width:1920px) {

picture.foto-legenda  hgroup.figcaption{
	opacity: 0;
	position: absolute;
	margin-top: -348px;
	margin-left: 4px;
	padding: 20px;
	background-color: rgba(0,0,0, .4);
	color: #ffffff;
	width: 598px;
	height: 340px;
	box-sizing: border-box;
	transition: opacity 2s;
}

picture.foto-legenda:hover hgroup.figcaption{
	opacity: 1;
 }

}


	

